<ul class="landing-button-wrapper">
  <li>
      <a href="https://www.facebook.com/quinton.jason" target="_blank">
          <i class="fa fa-facebook"></i>
          <span class="hide-text">Facebook</span>
      </a>
  </li>
  <li>
      <a href="https://twitter.com/quintonjasonjr"  target="_blank">
          <i class="fa fa-twitter"></i>
          <span class="hide-text">Twitter</span>
      </a>
  </li>
  <li>
      <a href="https://www.linkedin.com/in/quintonjason/"  target="_blank">
          <i class="fa fa-linkedin"></i>
          <span class="hide-text">LinkedIn</span>
      </a>
  </li>
  <li>
      <a href="https://codepen.io/quintonjason/"  target="_blank">
          <i class="fa fa-codepen"></i>
          <span class="hide-text">Codepen</span>
      </a>
  </li>
  <li>
      <a href="https://github.com/QuintonJason"  target="_blank">
          <i class="fa fa-github"></i>
          <span class="hide-text">Github</span>
      </a>
  </li>
</ul>
