//
// VARIABLES
//

// Colors
$green: #41b649;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$mont: "Montserrat", sans-serif;
$opensans: "Open Sans", sans-serif;
$code: Consolas, monaco, monospace;

.hide-text {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	font-size: inherit;
}

// Mobile breakpoints
@mixin mobile {
	@media screen and (max-width: 640px) {
		@content;
	}
}
