// SINGLE LINE HELPERS

// MULTILINE HELPERS
.hide-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: inherit;
}

.btn {
  font-family: $opensans;
  text-decoration: none;
  background: transparent;
  position: relative;
  text-transform: uppercase;
  padding: 0.7em 3.25em;
  overflow: hidden;
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 3px;
  font-size: 90%;
  transition: all 0.35s ease-out;
  &:hover,
  &:focus {
    background: $green;
    color: $white;
  }
}
.btn__submit {
  margin-top: 1em;
}

/* https://github.com/IanLunn/Hover/blob/master/css/hover.css - Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  top: -2px;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: $green;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 50%;
  right: 50%;
}
