.post-landing-single {
  margin-bottom: 2.65rem;
  .headline {
    margin-bottom: 0rem;
  }
  span {
    font-style: italic;
    color: #999;
  }
}

.blog_single,
.post-landing-single {
  a {
    @extend .hvr-underline-from-center;
  }
}
