//
// VARIABLES
//

// Colors
$green: #308636;
$greenInteractive: #28702d;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$midGray: #666;
$lightGray: #eee;
$white: #fff;

// Icon Colors
$facebookColor :#3b5998;
$twitterColor :#4099ff;
$linkedinColor :#0e76a8;
$codepenColor :#171515;
$githubColor :#000000;

$color-social: (
  'facebook': #3b5998,
  'twitter': #4099ff,
  'linkedin': #0e76a8,
  'codepen': #171515l,
  'github': #000000,

);

// Font stacks
$mont: "Montserrat", sans-serif;
$opensans: "Open Sans", sans-serif;
$code: Consolas, monaco, monospace;

// Mobile breakpoints
@mixin mobile {
	@media screen and (max-width: 640px) {
		@content;
	}
}
@mixin phone {
	@media screen and (max-width: 480px) {
		@content;
	}
}
@mixin desktop {
	@media screen and (max-width: 960px) {
		@content;
	}
}
